<%=@cat.name%>
<table>
    <thead> 
    <tr>
        <th colspan="1">Attribute</th> 
        <th colspan="1">Value</th> 
    </tr>
    </thead>
    <tbody>
        <tr> 
            <td>age</td> 
            <td><%=@cat.age%></td>
        </tr> 
        <tr> 
            <td>birth_date</td> 
            <td><%=@cat.birth_date%></td>
        </tr>
        <tr>
            <td>color</td> 
            <td><%=@cat.color%></td>
        </tr> 
        <tr>
            <td>sex</td> 
            <td><%=@cat.sex%></td>
        </tr>
    </tbody>
    <thead>
        <tr>
            <th colspan="1">Description</th>    
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><%=@cat.description%></td>
        </tr>
    </tbody>
</table>
